*{
  margin: 0;
  padding: 0;
}
@media (max-width: 650px) {
  .box_home{
    /* background-color: blueviolet; */
    width: 100% !important;
    display: flex;
    flex-direction: column;
    /* padding-top: 2rem !important; */
  }
  .img_home{
    height: 100% !important;
    width: 100% !important;
    border-radius: 0 0 0 0!important;
    background-position:center;
    background-repeat:no-repeat;
    object-fit:cover;
    background-size: contain;
  }
  .box_home_content{
    width: 100% !important;
    padding-top: 10px;
  }
  .box_form{
    display: flex;
    flex-wrap: wrap;
  }
}